doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/portal-styles.css')

  body
    nav
      a.ease(href="/tools") Tools
      a.ease(href="/logout") Log Out
    block content
